<!-- Adapted from the Robotis "turtlebot3_navigation" package: 
https://github.com/ROBOTIS-GIT/turtlebot3/blob/master/turtlebot3_navigation/launch/turtlebot3_navigation.launch
-->
<launch>
  <!-- <include file="$(find com2009_simulations)/launch/task4.launch" /> -->

  <arg name="map_file" default=" $(find com2009_team42)/maps/task4_map.yaml"/>
  <arg name="initial_pose_x" default="0.0"/>
  <arg name="initial_pose_y" default="0.0"/>

  <!-- Other arguments -->
  <arg name="initial_pose_a" default="0.0"/>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="move_forward_only" default="false"/>
  <!-- <arg name="target_colour" default="yellow"/> -->

  <!-- Turtlebot3 Bringup -->
  <!-- <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
    <arg name="model" value="$(arg model)" />
  </include> -->

  <!-- Map server
  <node pkg="map_server" name="map_server" type="map_saver" args="$(arg map_file)"/> -->

  <!-- AMCL -->
  <include file="$(find turtlebot3_navigation)/launch/amcl.launch">
    <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
  </include>

  


  <!-- action nodes -->
  <node pkg="com2009_team42" type="explore_server.py" name="explore_server" output="screen">
    <param name="target_colour" value="$(arg target_colour)"/>
  </node>
  <!-- reference: https://wiki.ros.org/gmapping -->
  <!-- Gmapping SLAM -->
  <include file="$(find turtlebot3_slam)/launch/turtlebot3_slam.launch">
    <arg name="model" value="$(arg model)" />
  </include>

  <node pkg="com2009_team42" type="map_builder.py" name="map_builder" output="screen">
  </node>

  <node pkg="com2009_team42" type="testcolour_search.py" name="colour_search" output="screen">
    <param name="target_colour" value="$(arg target_colour)"/>
  </node>

  <!-- rviz -->
  <!-- <node pkg="rviz" type="rviz" name="rviz" required="true"
    args="-d $(find turtlebot3_navigation)/rviz/turtlebot3_navigation.rviz"/> -->

</launch>